
<% if @user.errors.any? %>
  <div class="errors"
  <h2> Sorry, </h2>
  <ul>
    <% @user.errors.each do |attribute, message| %>
      <li>
        <strong><%= attribute %></strong>: <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>


<h1>Signup!</h1>

<div class="form">
  <%= form_for @user, :html => { :class => "form-horizontal", :class => "form" } do |f| %>

     <div class="control-group">
      <%= f.label :'username:', :class=>"control-label" %>
      <%= f.text_field :username, :class=>"form-control" %>
    </div>

    <div class="control-group">
      <%= f.label :'name:', :class=>"control-label" %>
      <%= f.text_field :name, :class=>"form-control" %>
    </div>

    <div class="control-group">
      <%= f.label :'email:', :class=>"control-label" %>
      <%= f.text_field :email, :class=>"form-control" %>
    </div>

    <div class="control-group">
      <%= f.label :'password:', :class=>"control-label" %>
      <%= f.password_field :password, :class=>"form-control" %>
    </div>

    <div class="control-group">
      <%= f.label :'password confirmation:', :class=>"control-label" %>
      <%= f.password_field :password_confirmation, :class=>"form-control" %>
    </div>
    <br>
  <div class="agreement">
   <h3> Terms of Use </h3>
   <br>
    <p> Freedom of speech is awesome! So is being kind. Here at PoliRant we believe that everyone deserves kindness and clarity. A compelling speech can be better made <strong>without</strong> insults, hurtful words, or cussing.</p>
      <br>
    <p> By signing up to use PoliRant, you agree to exercise this philosophy in any and all rants (ie. no cussing or other disrepectful language, and especially no threats or the like). <br>
      Failure to be a kind person while being proactive and engaging a representative will lead to your account being deleted....boom. Sorry, not sorry.</p>
      <br>
    <p>It's easy to cuss and scream and yell... it's harder to make a compelling argument that engages someone and diplomatically ignites change! Challenge your language and communication to make a difference in the world by sharing your perspective and passion effectively.</p>
      <br>
    <p> My grandma used to say, "You can catch more flies with sugar than vinegar." Dont go spraying vinegar. Let's use awareness, clarity and kindness to make the change we wish to see in the world! Yes we can!</p>
      <br>
    <p> By clicking the button below, you are agreeing to these terms. </p>
  </div>
  <br>

    <div class="form-actions">
            <%= f.submit class:'btn btn-success' %>
    </div>
  <% end %>
</div>
