<!DOCTYPE html>
<html lang="en">


  <div class="rant">



    <div class="table">
      <h2>Rep Contacts:</h2>

      <!-- eventually this will be a loop that iterates through the data recieved form the wrapper -->




      <table class="table table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
          </tr>
        </thead>
            <tbody>
              <% @response.officials.each do |official| %>
                <tr>
                  <% if official["emails"] %>
                    <td><%= official["name"] %></td>
                    <td><%= official["emails"].join(', ') %></td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
        </table>
    </div>

    <%= form_tag "rants/:id", :id => "my_form" do %>
    <h3><label for="comment">Listen up...</label></h3>
    <br>
    <%= text_area_tag "comment" %>
    <%= submit_tag "Send it out!" %>
    <% end %>

    <p> Take the space you need; drag the botton-right corner of the rant area to increase its size.</p>
  </div>
</html>
